<!-- Trending Tickers Table -->
<div class="table-container">
    <table>
      <thead>
        <tr>
          <th>{{ 'DASHBOARD.TRENDING_SYMBOL' | translate }}</th>
          <th>{{ 'DASHBOARD.TRENDING_NAME' | translate }}</th>
          <th>{{ 'DASHBOARD.TRENDING_PRICE' | translate }}</th>
          <th>{{ 'DASHBOARD.TRENDING_CHANGE_PERCENT' | translate }}</th>
          <th>{{ 'DASHBOARD.TRENDING_TRENDING_SCORE' | translate }}</th>
          <th>{{ 'DASHBOARD.TRENDING_QUOTE_TYPE' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of stocks">
          <td class="stock-symbol">{{ stock.symbol }}</td>
          <td>{{ stock.longName }}</td>
          <td>{{ stock.regularMarketPrice }}</td>
          <td [ngClass]="{ 'positive': stock.regularMarketChangePercent >= 0, 'negative': stock.regularMarketChangePercent < 0 }">
            {{ stock.regularMarketChangePercent.toFixed(2) }}%
          </td>
          <td>{{ stock.trendingScore.toFixed(2) }}</td>
          <td>{{ stock.quoteType }}</td>
        </tr>
      </tbody>
    </table>
  </div>