<div class="profile-dropdown-container">
    <button (click)="toggleDropdown()" class="icon-button profile-button" aria-label="User profile" [attr.aria-expanded]="isDropdownOpen()">
      <i class="fas fa-user-circle"></i>
    </button>
  
    <div class="dropdown-menu" *ngIf="isDropdownOpen()">
      <ul>
        <li> <pre><a href="#" (click)="$event.preventDefault(); logout()"><i class="fa-solid fa-right-from-bracket"></i>   Logout</a></pre></li>
  
        <!-- Add other items like 'Profile', 'Settings' if needed -->
      </ul>
    </div>
  </div>
  